body {
    padding-top: 55px;
    font-family: "Inconsolata", "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 17px;
    background-color: #f4f4f4;
}

.btn:focus,.btn:active {
    outline: none !important;
}

#navbar{
    font-size: 15px;
    color:#fff;
}

.navbar-inverse .navbar-text{
   color: #fff;
}

.table{
    color:#464646;
    background-color: #fff;
    margin-bottom: 0;
}

.table tr th{
    text-align: center;
}

.session-start{
    text-align: center;
    color: gray;
    font-style: italic;
}

.navbar-inverse{
    background-color: #336699;
    background-image: none;
    border: none;
}

.navbar-right{
    margin-right: 0; 
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

a.more {
    vertical-align: middle;
}

.tiny {
    width: 50px !important;
    text-align: center;
}

.time {
    width: 120px !important;
    text-align: center;
}

.query {
    position: relative;
}

.query:before {
    content: '&nbsp;';
    visibility: hidden;
}

.query span {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light{
    color:#e3e3e3;
}

.panel-heading{
    padding: 1px 15px;
}

.panel-body{
    padding: 0;
}

.list-group{
    margin-bottom: 0;
}

.list-group-item:first-child
{
    border-top: none;
}

.list-group-item:last-child
{
    border-bottom: none;
}

.list-group-item{
    border-left: none;
    border-right: none;
}

pre, code {
    margin: 0;
    border: none;
    background: none;
    font-size: 17px;
    font-family: inherit;
    padding-top: 10px;
    padding-left: 0; 
}

.detail-view {
    background: rgba(254, 251, 236, 0.38);;
    padding-top:7px !important;
    padding-left: 17px !important;
}

.list-group{
    border-radius: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0 0 0;
}

.list-group-item:first-child,
.list-group-item:last-child{
    border-radius: 0;
}

.query-results{
    padding: 15px 0 15px 0;
}

.dot{
    display: inline-block;
    margin-right: 5px;
}

.dot.pending{
    color: #fbca04;
}

.dot.done{
    color: rgb(120, 200, 107);
}

h4.panel-title{
    padding-top: 6.5px;
    margin-right: 10px;
}

.panel-primary{
    border: none;
}

.panel-primary>.panel-heading{
    background-image: none;
    background-color: #336699;  
}

.tag{
    float: right;
    background-color: #337ab7;
    padding:0 4px;
    border-radius: 10%;
    color: white;
    font-size: 13px;
    margin-top: 3px;
}

.glyphicon{
    top: 3px;
}

.list-group a.enabled{
    background-color: #f5f5f5;
}