body {
    padding-top: 70px;
    font-family: "Inconsolata", "Helvetica Neue", "Open Sans", Arial, sans-serif;
    font-size: 17px;
    background-color: #f9f9f9;
}

.btn:focus,.btn:active {
    outline: none !important;
}

#navbar{
    font-size: 15px;
    color:#fff;
}

.navbar-inverse .navbar-text{
   color: #fff;
}

.table{
    box-shadow: 0.5px 0.5px 0.5px 0 rgba(174,174,174,0.5);
    color:#464646;
    background-color: #fff;
}

.session-start{
    text-align: center;
    color: gray;
    font-style: italic;
}

.navbar-inverse{
    background-color: #336699;
    background-image: none;
    border: none;
}

.navbar-right{
    margin-right: 0; 
}

input[type="text"], textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

a.more {
    vertical-align: middle;
}

.tiny {
    width: 50px !important;
    text-align: center;
}

.time {
    width: 120px !important;
    text-align: center;
}

.query {
    position: relative;
}

.query:before {
    content: '&nbsp;';
    visibility: hidden;
}

.query span {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.light{
    color:#e3e3e3;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > th {
    background-color: #f7f7f7;
}

pre, code {
    margin: 0;
    border: none;
    background: none;
    font-size: 17px;
    font-family: inherit;
}

.detail-view {
    background: #fcfcfc;
}

.loading {
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #2980b9,
      #2980b9 11px,
      #eee 10px,
      #eee 20px /* determines size */
    );
  background-size: 28px 28px;
  animation: move .5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}