/* inconsolata-regular - latin_latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inconsolata-v12-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Inconsolata'),
       url('../fonts/inconsolata-v12-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inconsolata-v12-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inconsolata-v12-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inconsolata-v12-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inconsolata-v12-latin_latin-ext-regular.svg#Inconsolata') format('svg'); /* Legacy iOS */
}