#bootstrap-override {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#bootstrap-override p.connection{
    text-align: center;
}

#bootstrap-override #data{
    margin-top: 68px;
}

#bootstrap-override code {
    white-space: pre-line;
    background: none;
    color: #272950;
    background-color: rgba(51, 102, 153, 0.1);
    border-radius: 2px;
    padding-left: 5px;
}
#bootstrap-override div.error{
    margin-bottom: 15px;
}

#bootstrap-override div.error code{
    background-color: #d9534f;
    color: #FFFFFF;
}


/*Navbar styles*/

#bootstrap-override .navbar-inverse {
    background-color: #336699;
    background-image: none;
    border: none;
    border-radius: 0;
}

#bootstrap-override #filter{
    width: 400px;
}

#bootstrap-override .navbar-text {
    padding-right: 15px;
}

#bootstrap-override .navbar-inverse,
#bootstrap-override .navbar-text {
    color: #FFFFFF;
}

#bootstrap-override .btn:focus {
    outline: none;
}

/*Table styles*/
#bootstrap-override table {
    background-color: #FFFFFF;
    color: #272950;
}

#bootstrap-override table tr th{
    text-align: center;
    background-color: #f4f4f4;
    border: none;
}

#bootstrap-override table tr.result-ok{
    border-left: solid #5cb85c 3px;
}

#bootstrap-override table tr.result-pending{
    border-left: solid #f0ad4e 3px;
}

#bootstrap-override table tr.result-error{
    border-left: solid #d9534f 6px;
}

#bootstrap-override table tr td.more,
#bootstrap-override table tr td.tiny{
    width: 40px;
}

#bootstrap-override table tr td.more {
    text-align: center;
    cursor: pointer;
}

#bootstrap-override table tr td.plus-sign{
    background: url('../images/plus.png') center center no-repeat;
    background-size: 15px 15px;
}

#bootstrap-override table tr td.minus-sign{
    background: url('../images/minus.png') center center no-repeat;
    background-size: 15px 15px;
}

#bootstrap-override table tr td.more a{
    cursor: pointer;
}

#bootstrap-override table tr td.query {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    table-layout: fixed;
    max-width: 0;
}

#bootstrap-override table tr td.query.grayed{
    color: gainsboro;
}