<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <!--<link rel="stylesheet" href="css/highlight-default.css">-->
    <link rel="stylesheet" href="css/app.css">
</head>

<body id="app">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">

                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary navbar-btn" v-bind:class="{'active': isConnected}" v-on:click="startWs()">Start</button>
                    <button type="button" class="btn btn-primary navbar-btn" v-bind:class="{'active': !isConnected}" v-on:click="stopWs()">Stop</button>
                    <button type="button" class="btn btn-primary navbar-btn" v-on:click="clearItems()">Clear</button>
                </div>
                |
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary navbar-btn" v-bind:class="{'active': isExpanded}" v-on:click="toggleExpanded()">Expand</button>
                    <button type="button" class="btn btn-primary navbar-btn" v-bind:class="{'active': showId}" v-on:click="toggleShowId()">Show ID</button>
                    <button type="button" class="btn btn-primary navbar-btn" v-bind:class="{'active': showTime}" v-on:click="toggleShowTime()">Show time</button>
                </div>

                <p class="navbar-text navbar-right">
                    Status: <span v-bind:class="{'label label-success': isConnected, 'label label-danger': !isConnected}">{{ isConnected ? 'connected' : 'disconnected' }}</span>                    Queries: <span class="label label-success">{{ items.length }}</span> Sessions: <span class="label label-success">{{ sessions.length }}</span>
                </p>

                <form class="navbar-form navbar-right">
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="filter" v-model="filter">
                    </div>
                </form>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <p class="text-center" v-if="!items.length">No queries yet</p>

        <div class="row">
            <div class="col-sm-12">
                <span class="dot" v-for="session in sessions" v-bind:class="{'done': !session.inProgress, 'pending': session.inProgress}">&#9679;</span>
            </div>
        </div>

        <div class="row" v-if="items.length">
            <div class="col-sm-12">

                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title pull-left">Queries in session</h4>
                        <div class="input-group">
                            <select class="form-control input-sm" v-model="activeSession">
                                <option v-for="session in sessions" value="{{ session.id }}">#{{ $index + 1 }}</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="panel-body">
                        <table v-if="items.length" class="table table-condensed table-bordered">
                            <tr></tr>
                            <template v-for="item in items | exactFilterBy activeSession in 'sessId' | filterBy filter in 'query'">
                                <tr v-bind:class="{'light': item.detailed || item.actions}">
                                    <td class="tiny">
                                        <a href="#" v-on:click.prevent="showDetails(item.id)" class="more"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </td>
                                    <td class="tiny" v-if="showId">#{{ $index + 1 }}</td>
                                    <td class="time" v-if="showTime">{{ item.time }}</td>
                                    <td class="query" @mouseenter="toggleQueryActions(item.id)" @mouseleave="toggleQueryActions(item.id)">
                                        <span>{{ item.query }}</span>
                                        <span class="query-actions" v-if="item.actions">
                                        <button type="button" class="btn btn-primary btn-xs">Copy</button>
                                        <button type="button" class="btn btn-primary btn-xs">Gist</button>
                                        <button type="button" class="btn btn-primary btn-xs" v-on:click="executeSql(item.id)">Execute</button>
                                        <button type="button" class="btn btn-primary btn-xs">Explain</button>
                                    </span>
                                    </td>
                                </tr>
                                <tr v-show="item.detailed">
                                    <td colspan="4" class="detail-view">

                                        <div class="btn-group btn-group-xs" role="group">
                                            <button type="button" class="btn btn-primary" v-bind:class="{'active': item.showSql}" v-on:click="showSql(item.id) ">SQL</button>
                                            <button type="button" class="btn btn-primary" v-bind:class="{ 'active': item.showResults}" v-on:click="showResults(item.id)">Results</button>
                                        </div>

                                        <div class="query-sql" v-show="item.showSql">
                                            <pre><code class="sql ">{{ item.query }}</code></pre>
                                        </div>

                                        <div class="query-results" v-show="item.showResults">
                                            <demo-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
                                            </demo-grid>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/x-template" id="grid-template">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th v-for="key in columns"
                :class="{active: sortKey == key}">
                {{key | capitalize}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="
                entry in data
                | filterBy filterKey
                | orderBy sortKey sortOrders[sortKey]">
                <td v-for="key in columns">
                {{entry[key]}}
                </td>
            </tr>
            </tbody>
        </table>
    </script>

    <script src="js/jquery.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/vue.min.js "></script>
    <!--<script src="js/highlight.pack.js "></script>-->
    <script src="js/app.js "></script>
</body>

</html>